DATABASE_URL="postgresql://postgres:postgres@localhost:5432/moggingnew"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-me"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NEXT_PUBLIC_SITE_URL="http://localhost:3000"
